.g1_pos img{
    /* display: none; */
    left: 99px;
    top: 225px;
    /* left: 113px;
    top: 237px; */
    /* 14 ,12 */
}

.g2_3_4_6_21_pos img{
    /* display: none; */
    left: 295px;
    top: 217px;
}

.g5_pos img{
    left: 496px;
    top: 224px;
}

.g7_pos img{
    left: 254px;
    top: 296px;
}

.g8_12_pos img{
    left: 126px;
    top: 344px;
}

.g9_pos img{
    /* display: none; */
    left: 626px;
    top: 233px;
}

.g10_16_pos img{
    /* display: none; */
    left: 342px;
    top: 40px;
}

.g11_pos img{
    /* display: none; */
    left: 241px;
    top: 190px;
}

.g13_22_pos img{
    left: 351px;
    top: 111px;
}

.g14_pos img{
    left: 696px;
    top: 243px;
}

.g15_18_pos img{
    /* display: none; */
    left: 521px;
    top: 428px;
}

.g23_pos img{
    /* display: none; */
    left: 225px;
    top: 440px;
}

.gss_pos img{
    left: 698px;
    top: 248px;
}

.gss8_pos img{
    left: 711px;
    top: 161px;
}

.g_library_pos img{
    /* display: none; */
    left: 343px;   
    top: 359px;
}