@font-face {
    font-family: "deliveryPeo";
    src: url("/fonts/NotoSansCJKkr-Medium.otf");
}

html{
    scroll-behavior: smooth;
}

#main{
    display: flex;
    flex-direction: column;
}

.gmap_background{
    float: left;
    background-color: #D5DFE8;
}

#glist{
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

#ginfo{
    float: right;
    margin-left: auto;
    transform: translateX(-5%);
    width: calc(100%-940px);
    height: 660px;
    justify-content: center;
}