.g1_pos img{
    /* display: none; */
    left: 113px;
    top: 237px;
}

.g2_3_4_6_21_pos img{
    /* display: none; */
    left: 309px;
    top: 229px;
}

.g7_pos img{
    
    left: 268px;
    top: 308px;
}

.g10_16_pos img{
    /* display: none; */
    left: 356px;
    top: 52px;
}
